body
{
    background-size: cover;
}

.heading
{
    width: 100%;
    font-size: 23px;
    margin: 0px;
}

#play_button
{
    font-size: 22px;
    font-family: 'Times New Roman';
    margin: 20px;
}